* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/********************* tablet style *********************/
header {
  height: 45vh;
  background: rgb(184,180,232);
  background: linear-gradient(57deg, rgba(184,180,232,1) 0%, rgba(200,226,153,1) 35%, rgba(236,211,40,1) 63%, rgba(177,238,147,1) 88%);
  border-bottom-left-radius: 100px;
}

/****** nabvar style ******/

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -12px;
  z-index: 100;
  transition: 0.6s;
}

nav.sticky {
  padding: 8px 16px;
  margin-left: -28px;
  background: #fff;
}

#logo img {
  width: 85px;
  height: 70px;
}

.close-pos,
.menu-pos {
  display: none;
}

.nav-link ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
}

.nav-link ul li a {
  text-decoration: none;
  color: #344563;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.nav-link ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: rgb(74,61,237);
  background: linear-gradient(60deg, rgba(74,61,237,1) 0%, rgba(149,236,117,1) 35%, rgba(43,183,228,1) 63%, rgba(231,242,49,1) 85%);
  display: block;
  margin: auto;
  transition: 0.6s;
}

.nav-link ul li:hover::after {
  width: 100%;
}

/****** end nabvar style ******/

/****** intro style ******/
.background {
  padding-top: 7rem;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.text {
  padding-bottom: 10px;
}

.text h2 {
  font-size: 2.325rem;
}

.text p {
  font-size: 1.825rem;
  font-weight: 400;
}

.typedText {
  font-weight: 600;
  letter-spacing: 0.06rem;
  text-decoration: underline;
}

.intro-text {
  font-size: 18px;
  font-weight: 400;
  color: #344563;
  line-height: 28px;
  padding-top: 4px;
}

.socials {
  display: flex;
  flex-direction: column;
  padding-top: 2.12rem;
}

.socials h5 {
  font-size: 1.215rem;
  color: #0e30c9;
}

.social-icon {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 1.225rem;
}

.social-icon li a {
  text-decoration: none;
}

/****** end intro style ******/

/****** project style ******/
.projects {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* width: fit-content; */
}

.project-row {
  /* border: 1px solid; */
  width: 45rem;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 2.245rem;
  background: #fcfcfc;
  border-radius: 16px 1.2rem;
  box-shadow: 0 8px 16px rgba(77, 77, 77, 0.24);
  transition: 0.5s;
}

.project-row:hover {
  scale: 1.05;
}

.project-row:nth-child(2n) .left {
  order: 1;
}

.right h1 {
  font-size: 1.825rem;
}

.right .content {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 300;
}

.desc p {
  font-size: 16px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  list-style: none;
  gap: 9px;
}

.tag li {
  background: #ebebff;
  padding: 4px 11px;
  border-radius: 9px;
  color: #6070ff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.btn-see-detail {
  width: 126px;
  height: 48px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: 0.5s;
}

.btn-see-detail:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-see-detail:active {
  background: #2230d2;
}

/****** end project style ******/

/********************* mobile style *********************/
@media only screen and (max-width: 768px){
  header {
    height: 100vh;
    border-bottom-left-radius: 70px;
  }

  /****** nabvar style ******/

  .nav-link {
    position: fixed;
    top: 0;
    right: -770px;
    background: #6070ff;
    mix-blend-mode: multiply;
    backdrop-filter: blur(8px);
    z-index: 10;
    width: 100%;
    height: 100vh;
    transition: 0.6s;
  }

  .close-pos {
    display: flex;
    justify-content: flex-end;
    padding: 20px 16px;
    margin: 16px 0 14px 0;
  }

  .nav-link ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 15px;
    list-style: none;
  }

  .nav-link ul li {
    padding: 12px 0;
  }

  .nav-link ul li a {
    text-decoration: none;
    font-size: 1.565rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }

  .menu-pos {
    display: block;
  }

  /****** end nabvar style ******/

  /****** intro style ******/
  .intro {
    padding: 0 1.825rem;
  }

  .text h2 {
    font-size: 1.625rem;
  }

  .text p {
    font-size: 1.425rem;
  }

  .intro-text {
    font-size: 16px;
    line-height: 26px;
  }

  /****** end intro style ******/

  /****** project style ******/

  .projects {
    padding: 0 10px;
  }

  .project-row {
    width: fit-content;
    flex-direction: column;
  }

  .project-row:nth-child(2n) .left {
    order: 0;
  }
}

/********************* desktop style *********************/
@media only screen and (min-width: 1024px){
  header {
    height: 83vh;
    border-bottom-left-radius: 100px;
  }

  /****** project style ******/
  .project-row {
    width: 60rem;
  }
}