* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #e5e5e5;
}

.blurred#blur.active {
  filter: blur(3px);
  background: #c1c7d0;
  pointer-events: none;
  user-select: none;
}

header {
  padding: 10px 0;
  background: #fff;
  min-height: 130vh;
  border-bottom-left-radius: 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  animation: 3s spin-in;
}

.link {
  display: flex;
  align-items: center;
}

.link img {
  cursor: pointer;
}

.nav-link ul {
  display: flex;
  padding: 0 20px;
  list-style: none;
}

.nav-link img {
  position: absolute;
  right: 1em;
  top: 30px;
}

.social-icon li a {
  text-decoration: none;
}

.nav-link ul li a {
  color: #344563;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.tag li {
  background: #ebebff;
  list-style: none;
  padding: 4px 11px;
  border-radius: 8px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

@keyframes spin-in {
  0% {
    transform: rotate(360deg);
  }
}

.background {
  min-height: 100vh;
  background: url("./assets/mobile-bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 18px;
  gap: 10px;
}

.intro-text {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
  padding-top: 12px;
}

.text {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: -40px;
  color: #172b4d;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.intro .socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socials h5 {
  font-size: 16px;
  font-weight: 400;
  color: #7f8cff;
  margin: 0 8px;
}

.social-icon {
  display: flex;
  order: 3;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.social-icon img {
  padding: 0 10px;
}

.projects {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.project-row .left {
  display: flex;
  justify-content: center;
}

.project-row {
  display: flex;
  flex-direction: column;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  padding: 16px;
  transition: 0.4s;
}

.project-row:hover {
  animation: 3s alternate-reverse popup;
}

@keyframes popup {
  0% {
    width: 400px;
  }

  100% {
    width: 327px;
  }
}

.project-row h1 {
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
}

.project-row p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.content {
  display: flex;
  margin-top: -30px;
  font-size: 13px;
  font-weight: 600;
}

.content h3 {
  color: #7a869a;
  padding: 0 10px;
}

.content .author {
  color: #344563;
}

.btn-see-detail {
  width: 126px;
  height: 48px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: 0.5s;
}

.btn-see-detail:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-see-detail:active {
  background: #2230d2;
}

.btn-detail {
  width: 126px;
  height: 48px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: 0.5s;
}

.btn-detail:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-detail:active {
  background: #2230d2;
}

/********** Pop-up detail page *********/
.pop-up {
  width: 323px;
  height: max-content;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  padding: 9px 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

#pop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 10%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#pop.active {
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.main-text {
  display: flex;
  flex-direction: column;
}

.specs {
  list-style: none;
  display: flex;
  gap: 12px;
  margin-left: -5%;
  margin-top: -10px;
}

.specs li {
  font-size: 13px;
  font-weight: 600;
  color: #7a869a;
}

.specs .author {
  color: #344563;
}

.main1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main1 img {
  cursor: pointer;
}

.block {
  display: flex;
  flex-direction: column;
}

.scroll {
  padding: 2px 0;
  margin-top: 10px;
}

.scroll p {
  font-size: 15px;
  font-weight: 400;
}

.line {
  border: 1px solid #ebecf0;
  margin: 7px 30px;
}

.actions {
  display: flex;
  padding: 10px;
  justify-content: center;
  gap: 20px;
}

.live,
.source {
  width: 250px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/*********** the end *********/

.about-me {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  border-top-right-radius: 60px;
  margin-top: 30%;
}

.resume {
  width: 200px;
}

.skills {
  width: 327px;
  padding-top: 12%;
  padding-bottom: 40%;
}

.dropdown {
  position: relative;
}

.border {
  border-bottom: 1px solid #dfe1e6;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.lang h3 {
  font-size: 20px;
  font-weight: 500;
}

.list {
  padding: 12px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 10px;
  gap: 15px;
}

.item p {
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

.contact-me {
  background: #6070ff;
  padding: 40px 24px;
  border-top-left-radius: 100px;
  margin-top: -20%;
}

.shapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: url(./assets/shapes.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.shapes h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
}

.shapes p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #ebebff;
}

.shapes form {
  display: flex;
  flex-direction: column;
}

.input-col {
  width: 327px;
  height: 40px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 12px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
}

.input-col.invalid {
  border: 2px solid #f51b1b;
  background: #f7a1a1;
}

.input-col.valid {
  border-color: #29e009;
  background: #c3f7b5;
}

.input-col::placeholder {
  color: #172b4d;
}

.comment {
  height: 170px;
  padding: 12px;
  resize: none;
}

.comment::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #b3bac5;
  padding: 10px;
}

.contact {
  width: 142px;
  margin-top: 20px;
}

.contact:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 10px;
  background: white;
  color: #5e6c84;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.error {
  text-align: center;
  margin-top: 10px;
  border-radius: 12px;
  padding: 10px 0;
  box-sizing: border-box;
}

.error.active {
  background: #f51b1b;
}

@media only screen and (max-width: 768px) {
  .background {
    min-height: 100vh;
    background: url("./assets/mobile-bg.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: relative;
  }

  .nav-link {
    position: fixed;
    top: 0;
    right: -768px;
    background-color: #6070ff;
    mix-blend-mode: multiply;
    backdrop-filter: blur(8px);
    z-index: 2;
    width: 100%;
    height: 100vh;
    transition: 0.6s;
  }

  .nav-link ul {
    display: flex;
    flex-direction: column;
    margin: 80px 0;
    padding: 0 15px;
  }

  .nav-link ul li {
    padding: 12px 0;
  }

  .nav-link ul li a {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
  }

  .intro {
    position: absolute;
    top: 80px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    min-height: 110vh;
    border-bottom-left-radius: 70px;
  }

  header nav {
    padding: 16px 120px;
  }

  .link img {
    display: none;
  }

  .nav-link ul li {
    display: inline-block;
    padding: 0 10px;
  }

  .nav-link ul li a {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }

  .background {
    min-height: 100vh;
    background: url("./assets/Header\ bg.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-top: -40px;
  }

  .intro {
    padding: 140px 130px;
  }

  .text {
    margin-top: -80px;
    letter-spacing: 0.37px;
    animation-duration: 8s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0;
    }

    75% {
      font-size: 200%;
      margin-left: 25%;
      width: 100%;
    }

    to {
      margin-left: 0;
      width: 100%;
    }
  }

  .project-row {
    display: grid;
    width: 716px;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    transition: 0.4s;
  }

  .project-row:hover {
    animation: 3s alternate popup;
  }

  @keyframes popup {
    0% {
      width: 600px;
    }

    100% {
      width: 716px;
    }
  }

  .project-row:nth-child(2n) .left {
    order: 1;
    margin-right: 0;
    margin-left: 0;
    margin-top: 28px;
  }

  /************* pop-up window *****************/
  .pop-up {
    width: 716px;
  }

  #pop.active {
    top: 2%;
  }

  .main-text {
    margin-bottom: 15px;
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -3% 0;
  }

  .project-image {
    width: 75%;
  }

  .block {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .scroll {
    width: 800px;
    padding: 8px 10px;
  }

  .scroll p {
    font-size: 16px;
  }

  .other-side {
    width: 258px;
  }

  .line {
    border: 1px solid #ebecf0;
    margin: 10px 20px;
  }

  .actions {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .live,
  .source {
    width: 500px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .live img,
  .source img {
    width: 24px;
    height: 24px;
  }

  /************* the end *****************/

  .about-me {
    min-height: 80vh;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    border-top-right-radius: 60px;
    justify-content: space-between;
    padding: 120px 30px;
    margin-top: 10%;
    margin-bottom: 30%;
  }

  .top {
    margin-top: 80px;
  }

  .skills {
    width: 364px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .list {
    display: flex;
    gap: 20px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 100px;
    background: #f7f7f9;
    border-radius: 10px;
    padding: 10px 8px;
  }

  .item p {
    margin-top: 4px;
  }

  .contact-me {
    margin-top: -40%;
    text-align: center;
  }

  .shapes {
    min-height: 80vh;
    background: url(./assets/desktop-shape.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 90px;
  }

  .shapes form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-col {
    width: 447px;
    height: 48px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 12px;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    color: #172b4d;
  }

  .comment {
    height: 170px;
    padding: 12px;
    resize: none;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    min-height: 50vh;
    border-bottom-left-radius: 70px;
  }

  header nav {
    padding: 16px 120px;
  }

  .nav-link ul li {
    display: inline-block;
    padding: 0 10px;
  }

  .nav-link ul li a {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }

  .background {
    min-height: 130vh;
    background: url("./assets/Header\ bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: -100px;
  }

  .intro {
    padding: 140px 250px;
  }

  .text {
    font-size: 30px;
    letter-spacing: 0.37px;
    margin-top: 0;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }

    75% {
      font-size: 200%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .intro-text {
    font-size: 18px;
    line-height: 28px;
  }

  .projects {
    margin-top: 80px;
    gap: 60px;
  }

  .project-row {
    display: grid;
    width: 816px;
    padding: 30px 60px;
    grid-template-columns: repeat(2, auto);
    grid-gap: 60px;
    transition: 0.4s;
  }

  .project-row:hover {
    animation: 3s alternate popup;
  }

  @keyframes popup {
    0% {
      width: 616px;
    }

    100% {
      width: 816px;
    }
  }

  .project-row:nth-child(2n) .left {
    order: 1;
    margin-right: 80px;
    margin-left: 0;
    width: 240px;
    height: 245px;
    margin-top: 28px;
  }

  .left img {
    width: 340px;
    height: 245px;
    margin-top: 28px;
  }

  .right h1 {
    font-size: 40px;
  }

  .right .content {
    font-size: 18px;
  }

  .right p {
    font-size: 16px;
  }

  /************* pop-up window *****************/
  .pop-up {
    width: 956px;
  }

  #pop.active {
    top: 2%;
  }

  .main-text {
    margin-bottom: 6px;
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -10px 0;
  }

  .project-image {
    width: 55%;
  }

  .block {
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .scroll {
    width: 800px;
    padding: 5px 10px;
  }

  .scroll p {
    font-size: 16px;
  }

  .other-side {
    width: 258px;
  }

  .line {
    border: 1px solid #ebecf0;
    margin: 10px 20px;
  }

  .actions {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .live,
  .source {
    width: 500px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .live img,
  .source img {
    width: 24px;
    height: 24px;
  }

  /************* the end *****************/

  .about-me {
    min-height: 80vh;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: space-between;
    border-top-right-radius: 60px;
    padding: 120px;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-right: 0;
    animation: 10s view;
  }

  @keyframes view {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 0.5;
    }

    60% {
      opacity: 0.8;
    }

    90% {
      opacity: 0.85;
    }

    100% {
      opacity: 1;
    }
  }

  .top {
    margin-top: 0;
  }

  .skills {
    width: 484px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .list {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 100px;
    background: #f7f7f9;
    border-radius: 10px;
    padding: 10px 8px;
  }

  .item p {
    margin-top: 4px;
  }

  .contact-me {
    margin-top: -40%;
    text-align: center;
  }

  .shapes {
    min-height: 80vh;
    background: url(./assets/desktop-shape.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .shapes p {
    padding: 0 20%;
    margin-top: -20px;
    text-align: center;
  }

  .shapes form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-col {
    width: 447px;
    height: 48px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 12px;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    color: #172b4d;
  }

  .comment {
    height: 170px;
    padding: 12px;
    resize: none;
  }
}
